html {
  background-image: url(purpleorangebg.jpg);
  background-repeat: repeat;
  text-align: justify;
  text-align: center;
}
body {
  border: 2px solid #ffffff;
  margin: 15px;
  padding: 20px;
  background-color: #ffffff;
}

nav li {
  list-style-type: none;
}
/* make list of links into buttons /*
/* separate both h2s. give one a special bg color and font color /*
/* make h1 helvetica /*
/* give the footer a special color too /*
/* put an img with the h2 that has links /*
/* put bottom borders under the h2s, put a box around the h1 and the footer /*
